body{
  background-color:#dee2e6;
}

/* Estilos para centrar la lista de contactos */
.contact-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}

/*Estilo para Contact-box*/
#contact {
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
  min-height: 20vh; 
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*Estilo de Contact-img*/
#contact img{
  width: 2rem;
  height: 2rem;
  border: none;
}

/* Estilos para Formulario-box */
#formulario {
  padding: 5px;
  box-shadow: 10px 10px 50px 1px #7c7c81;
  border-radius: 10px;
  min-height: 20vh; 
  align-content: center;
  justify-content: center;
}
